@model Book

<style>
    /* Görünümün stilini özelleştirme */

    .card {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    }

    .card-header {
        background-color: #007bff;
    }

        .card-header h2 {
            font-size: 24px;
            padding: 10px;
            margin: 0;
        }

    .card-body {
        padding: 20px;
    }

    .card img {
        max-width: 100%;
    }

    .mb-3 {
        margin-bottom: 15px;
    }

    /* Ödünç Alan ve Bitiş Tarihi'nin stilini özelleştirme */
    .barrow-info {
        background-color: #f8f9fa;
        padding: 10px;
        border-radius: 5px;
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
    }
</style>

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card">
                <div class="card-header bg-primary text-white">
                    <h2 class="text-center">Kitap Detayları</h2>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-4 text-center">
                            <img src="@Model.ImageLink" class="img-fluid mb-4" alt="Kitap Resmi">
                        </div>
                        <div class="col-md-8">
                            <h4 class="mb-3">Kitap Adı:</h4>
                            <p>@Model.BookName</p>
                            <div class="row">
                                <div class="col-md-6">
                                    <h4 class="mb-3">Yazar:</h4>
                                    <p>@Model.Author</p>
                                </div>
                                <div class="col-md-6">
                                    <h4 class="mb-3">Yayınevi:</h4>
                                    <p>@Model.Publisher</p>
                                </div>
                            </div>
                            <h4 class="mb-3">Hakkında:</h4>
                            <p>@Model.AboutBook</p>

                            @if (ViewBag.BarrowHistory != null)
                            {
                                <div class="mt-4 barrow-info">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <h4 class="mb-3">Ödünç Alan:</h4>
                                            <p>@ViewBag.BarrowHistory.PersonName @ViewBag.BarrowHistory.PersonSurname</p>
                                        </div>
                                        <div class="col-md-6">
                                            <h4 class="mb-3">Bitiş Tarihi:</h4>
                                            <p>@((DateTime)ViewBag.BarrowHistory.BarrowEndDate)</p>
                                        </div>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
