@{
}

@model List<Book>

<div class="container">
    <h1>Book List</h1>

    <!-- Arama Çubuğu -->
    <div class="mb-3">
        <input type="text" class="form-control" id="searchInput" placeholder="Search Book">
    </div>

    <!-- Kitap Kartları -->
    <div class="row">
        <div class="row">
            @foreach (var book in Model)
            {
                <!-- Eğer isAvaliable false ise kitap başlığı kırmızı olsun -->
                <div class="col-lg-3 col-md-4 col-sm-6 mb-3">
                    <div class="card" style="box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);">
                        <a href="@Url.Action("GetBook", "Home", new { id = book.Id })" style="text-decoration: none; color: inherit;">
                            <img src="@book.ImageLink" height="320" width="150" class="card-img-top" alt="Book Image" style="padding: 16px;">
                        </a>

                            <div class="card-body">
                                @{
                                    string titleColor = (book.IsAvaliable == true) ? "black" : "red";
                                }

                                <h6 class="card-title text-truncate" style="color: @titleColor;">@book.BookName</h6>
                                <p class="card-text text-truncate" style="color: #999;">@book.Author</p>
                                <p class="card-text text-truncate" style="color: #999;">@book.Publisher</p>

                                @if(book.IsAvaliable == true) {

                                <button id="borrowButton" type="button" data-bs-toggle="modal" data-bs-target="#createBarrowModal">Ödünç Ver</button>

                                }else {
                                    <p class="card-text text-truncate" style="max-width: 200px; color: #999;">@book.AboutBook</p>

                                }
                            </div>
                    </div>
                </div>



                        <!-- Modal -->
            <div class="modal fade" id="createBarrowModal" tabindex="-1" role="dialog" aria-labelledby="createBarrowModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                                <h5 class="modal-title" id="createBarrowModalLabel">Create Barrow - @book.BookName </h5>
                        <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form>
                            <div class="mb-3">
                                <label for="personName" class="form-label">Person Name:</label>
                                <input type="text" class="form-control" id="PersonName" name="PersonName" required>
                            </div>
                            <div class="mb-3">
                                 <label for="personSurname" class="form-label">Person Surname:</label>
                                 <input type="text" class="form-control" id="PersonSurname" name="PersonSurname" required>
                            </div>
                            <div class="mb-3">
                                <label for="barrowEndDate" class="form-label">Barow End Date:</label>
                                        <input type="date" class="form-control" id="BarrowEndDate" name="BarrowEndDate" required>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                        <button type="button" class="btn btn-primary" id="createBarrowBtn">Create</button>
                    </div>
                </div>
            </div>
        </div>



            }

    </div>
</div>

@section Scripts {
    <script>
        $(document).ready(function () {
            $("#searchInput").on("input", function () {
                var searchText = $(this).val().toLowerCase();
                $(".card").each(function () {
                    var cardTitle = $(this).find(".card-title").text().toLowerCase();
                    if (cardTitle.includes(searchText)) {
                        $(this).show();
                    } else {
                        $(this).hide();
                    }
                });
            });
        });

        // Create butonuna tıklanınca Ajax isteği gönder
            $("#createBarrowBtn").click(function () {
            // Formdaki verileri al
            var formData = {
                PersonName: $("#PersonName").val(),
                PersonSurname: $("#PersonSurname").val(),
                BarrowEndDate: $("#BarrowEndDate").val(),
            };

            // Ajax isteği gönder
            $.ajax({
                type: "POST",
                url: "/Home/CreateBarrow", // Controller yöntemi URL'si
                data: JSON.stringify(formData),
                contentType: "application/json",
                success: function (response) {
                    if (response.success) {
                        // Başarı durumunda modalı kapat ve başarı mesajını göster
                        $("#addBookModal").modal("hide");
                        alert(response.message);
                        location.reload();
                    } else {
                        // Hata durumunda hata mesajını göster
                        alert(response.message);
                    }
                },
                error: function (error) {
                    console.error(error);
                    // Hata durumunda hata mesajını göster
                    alert("Kitap oluşturulurken bir hata oluştu.");
                }
            });
        });


    </script>
}

