@{
}

@model List<Book> 

<div class="container">
    <h1>Book List</h1>

    <!-- Arama Çubuğu -->
    <div class="mb-3">
        <input type="text" class="form-control" id="searchInput" placeholder="Search Book">
    </div>

    <!-- Kitap Kartları -->
    <div class="row">
        @foreach (var book in Model)
        {
            <!-- Eğer isAvaliable false ise kitap başlığı kırmızı olsun -->
            <div class="col-lg-3 col-md-4 col-sm-6 mb-3">
                <div class="card" style="box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);">
                    <a href="@Url.Action("GetBook", "Home", new { id = book.Id })" style="text-decoration: none; color: inherit;">
                        <img src="@book.ImageLink" height="320" width="150" class="card-img-top" alt="Book Image">
                        <div class="card-body">
                            @{
                                string titleColor = (book.IsAvaliable == true) ? "black" : "red";
                            }

                            <h6 class="card-title text-truncate" style="color: @titleColor;">@book.BookName</h6>
                            <p class="card-text text-truncate" style="color: #999;">@book.Author</p>
                            <p class="card-text text-truncate" style="color: #999;">@book.Publisher</p>
                            <p class="card-text text-truncate" style="max-width: 200px; color: #999;">@book.AboutBook</p>
                        </div>
                    </a>
                </div>
            </div>
        }


    </div>
</div>

@section Scripts {
    <script>
        $(document).ready(function () {
            $("#searchInput").on("input", function () {
                var searchText = $(this).val().toLowerCase();
                $(".card").each(function () {
                    var cardTitle = $(this).find(".card-title").text().toLowerCase();
                    if (cardTitle.includes(searchText)) {
                        $(this).show();
                    } else {
                        $(this).hide();
                    }
                });
            });
        });
    </script>
}
